In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df=pd.read_csv("datasets/train.csv")
test_df=pd.read_csv("datasets/test.csv")

In [3]:
train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Size of the training set

train_shape=train_df.shape
print(f"Number of rows: {train_shape[0]}")
print(f"Number of cols: {train_shape[1]}")

Number of rows: 4209
Number of cols: 378

In [5]:
# Size of the testing set

test_shape=test_df.shape
print(f"Number of rows: {test_shape[0]}")
print(f"Number of cols: {test_shape[1]}")

Number of rows: 4209
Number of cols: 377